body{
    background-color: rgb(32, 38, 136);
    margin: 0px;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    border-radius: 8px;
    border-bottom: 5px solid white;
    margin-top: 0;
    margin-left: 0;
}